html {
  font-size: 82.5%;
}

header {
  border: 1px solid black;

  .jumbotron {
    border: 1px solid red;
    background-color: black;

    h1 {
      font-size: 7rem;
      color: #750101;
    }
  }
}

.battle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  .defeat {
    padding: 10px;
    color: #600000;
    border: 1px solid red;
    background-color: black;
    box-shadow: 0 0 4px 4px #600000;
  }

  .card {
    height: 100%;
  }

  .hero-pic {
    height: 190px;
    display: flex;
    align-items: center;
  }

  .butt {
    display: flex;
    min-height: 200px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    p {
      color: red;
    }

    .go {
      background-color: #750101;
      border-radius: 5px;
      border-color: #750101;
      color: black;
      box-shadow: 0 0 5px 5px #600000;

      &:hover {
        background-color: #600000;
        border-color: #600000;
        cursor: pointer;
        box-shadow: 0 0 5px 5px #560000;
      }
    }
  }
}