* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.8rem;
}

.container {
  max-width: 80rem;
  min-width: 75rem;
  width: 96%;
  /* height: 40rem; */
  margin: 0 auto;
  padding: 20px;
  background-color: darkgoldenrod;
  font-size: 1.6rem;
}

.header{
  text-align: center;
  padding: 20px;
}

.main-container {
  width: 100%;
  /* height: 30rem; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color:lightgray;
  position: relative;
}

.hero,
.villian {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-talk,
#villian-talk {
  text-align: center;
  padding: 10px;
  background-color: white;
  width: 100%;
  height: 10rem;
  border-radius: 20px;
  font-size: 1.8rem;
}

#hero-stat,
#villian-stat {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  list-style-type: none;
  font-size: 2rem;
}


.hero-img,
.villian-img {
  width: 100%;
  height: 170px;
  overflow: hidden;
  border-radius: 2rem;
}
#hero-img,
#villian-img {
  width: 100%;
}

.hero-buttons,
.villian-buttons {
  width: 100%;
}



.button {
  width: 100%;
  color:white;
  background-color: darkgoldenrod;
  border-radius: 100px;
  margin: 10px; 
  padding: 10px;
  text-align: center;
}

.button:hover {
  color: darkgoldenrod;
  background-color: white;
}

.button:active {
  color: white;
  background-color: white;
}